{% extends "layout.html" %}
{% block specific %}

            <div class="page-header">
                <h1>Input Function</h1>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form action="{{ url_for('derivatives') }}" method=post>
                        <textarea class="col-xs-12" name=function rows=5></textarea>
                        <input type=submit value=Submit>
                    </form>
                </div>
            </div>

            <div class="page-header">
                <h1>Examples</h1>
            </div>
            {% for example in entries.examples %}
                {% if loop.index0 % 3 == 0 %}
                    <div class="row">
                {% endif %}
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ loop.index }}. {{ example[0] }}</h3>
                                </div>
                                <div class="panel-body" style="word-wrap: break-word;">
                                    {% for line in example[1].split(" ")%}
                                        {{ line }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                {% if loop.index0 % 3 == 2 or loop.index == loop.length %}
                    </div>
                {% endif %}
            {% endfor %}

{% endblock %}
