<!doctype html>
<html lang="en">
    <head>
        <title>DEXi function to derivatives</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    </head>
    <body role="document">
        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1>DEXi function to derivatives</h1>
                <p>This is a web-service which enables the users to input a DEXi type function (rule-based), and receive back the values of the first (partial) derivatives in the defined points.</p>
            </div>
            {% block specific %}{% endblock %}
            <div class="page-header">
                <h1>About</h1>
            </div>
            <div class="well">
                <p>This is an application</p>
            </div>
        </div>
    </body>
</html>
