<!doctype html>
<html lang="en">
    <head>
        <title>{{ entries.title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    </head>
    <body role="document">
        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1>{{ entries.title }}</h1>
                <p>{{ entries.subtitle }}</p>
            </div>
            {% block specific %}{% endblock %}
            <div class="page-header">
                <h1>About</h1>
            </div>
            <div class="well">
                {% for line in entries.about.split("\n") %}
                    <p>{{ line|safe }}</p>
                {% endfor %}
            </div>
            <div class="page-header">
                <h1>License</h1>
            </div>
            <div class="well">
                {% for par in entries.license.split("\n\n") %}
                    <p>
                        {{ par }} 
                    </p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
